In [1]:
licznik = 0
while licznik < 5:
    print("licznik to", licznik)
    licznik += 1

licznik to 0
licznik to 1
licznik to 2
licznik to 3
licznik to 4

In [1]:
haslo = input ("Podaj hasło:")

while haslo != 'idź spać!':
    print("Podałeś złe hasło.")
    haslo = input ("Podaj hasło:")

print ("Podałeś dobre hasło.")

Podaj hasło: idź spać!

Podałeś dobre hasło.

In [7]:
i = 0

while i <= 100:
    if (i % 2 == 0) and (i % 3 == 0):
        print("i to:", i)
    i += 1

i to: 0
i to: 6
i to: 12
i to: 18
i to: 24
i to: 30
i to: 36
i to: 42
i to: 48
i to: 54
i to: 60
i to: 66
i to: 72
i to: 78
i to: 84
i to: 90
i to: 96

In [31]:
imiona = ("Zosia", "Basia", "Czesia", "Kasia", "Ania", "Asia")

In [32]:
imiona

('Zosia', 'Basia', 'Czesia', 'Kasia', 'Ania', 'Asia')

In [33]:
for i in imiona:
    print(i + " Nowak")

Zosia Nowak
Basia Nowak
Czesia Nowak
Kasia Nowak
Ania Nowak
Asia Nowak

In [34]:
i = imiona [0]
print(i + ' Nowak')
# itd

Zosia Nowak

In [35]:
imiona

('Zosia', 'Basia', 'Czesia', 'Kasia', 'Ania', 'Asia')

In [36]:
imiona_nazwiska = []

for i in imiona:
    imiona_nazwiska.append(i+' Nowak')

imiona_nazwiska

['Zosia Nowak',
 'Basia Nowak',
 'Czesia Nowak',
 'Kasia Nowak',
 'Ania Nowak',
 'Asia Nowak']

In [37]:
imiona

('Zosia', 'Basia', 'Czesia', 'Kasia', 'Ania', 'Asia')

In [38]:
len(imiona[4])

4

In [40]:
dlugosc_imion = []

for i in imiona:
    dlugosc_imion.append(len(i))
dlugosc_imion

[5, 5, 6, 5, 4, 4]

In [41]:
import numpy as np

np.mean(dlugosc_imion)

4.833333333333333

In [52]:
np.std(dlugosc_imion)

0.6871842709362768

In [53]:
napis = ('Brzeczyszczykiewicz')

In [54]:
napis[3:7]

'eczy'

In [57]:
for literka in napis:
    print(literka)

B
r
z
e
c
z
y
s
z
c
z
y
k
i
e
w
i
c
z

In [58]:
l = 0

for literka in napis:
    if (literka == "a") or (literka == "A"):
        l += 1
        
print("W Panu Tadeuszu jest ", l, literek a")

SyntaxError: invalid syntax (<ipython-input-58-b37b67cdbb4d>, line 7)